<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<style>
  div.option {
      font-size: 1.9em;
      padding-left: 10px;
      padding-top: 5px;
  }
  th{
      background-color: silver;
      height: 20px;
      font-size: 1.1em;
      padding: 5px;
  }
  div.heading{
      background-color: lightgrey;
      font-size: 1.5em;
      padding: 10px;
  }
  tr:nth-child(even) {background: lightskyblue}
  tr:nth-child(odd) {background: #ffffff}
   #popup_box {
       display:none;
       z-index:1001;
       left:300px;
       top:100px;
       text-align:center;
       font-size:28;
       color: black;
       border: 2px solid #9999FF;
       border-radius: 15px 15px 15px 15px;
       border-style: outset;
       height: 160px;
       padding: 5px;
       position: absolute;
       top: 199px;
       width: 450px;
       -moz-user-select:none;
   }

  #popup_box span{
      font-size:35px;
  }

  #popup_box a{
      background-color: silver;
      border-bottom: 1px outset black;
      border-style: outset;
      padding: 10px 25px 10px 25px;
      border-radius:5px;
      font-size:29;
      cursor: pointer;

  }

  #cover{
      display: none;
      position: absolute;
      background-color: black;
      width: 100%;
      height: 102%;
      left: 0%;
      top: 0%;
      z-index: 1000;
      opacity: 0.5;

  }
</style>


<script type="text/javascript">
  <!--
    function selected(option)
    {
        options = document.getElementsByClassName("option")

        for(i = 0; i < options.length; i ++)
        {
           options[i].style.backgroundColor = "white";
           options[i].setAttribute("selected", false)
           options[i].children[0].firstChild.setAttribute("src", "/touchscreentoolkit/lib/images/unchecked.png")
        }

        var state = option.getAttribute('selected');
        option.setAttribute("selected",(state == "true" ? false : true));
        option.children[0].firstChild.setAttribute("src", (state == "true" ? "/touchscreentoolkit/lib/images/unchecked.png" : "/touchscreentoolkit/lib/images/checked.png"))
    }

    function hideMessageBox()
    {
        document.getElementById('popup_box').style.display = 'none';
        document.getElementById('cover').style.display = 'none';
    }

    function goHome () {
        window.location =  "/patients/show/<%= @patient.patient_id %>";
    }
    function nextPage()
    {
        options = document.getElementsByClassName("option")

        for(i = 0; i < options.length; i ++)
        {
            if (options[i].getAttribute("selected") == "true")
            {
                return createEncounter(options[i].children[1].innerHTML)
            }

        }

        document.getElementById('cover').style.display = 'inline';
        document.getElementById('cover').style.height = 'inline'

        msgbox = document.getElementById('popup_box');
        msgbox.innerHTML = "<span>No action was selected. Do you still want to continue?</span></p><button onmousedown='goHome()' id='yes'><span>Yes</span></button>" +
                "&nbsp;&nbsp;&nbsp;<button id='no' onmousedown='hideMessageBox()' ><span>No</span></button>"

        msgbox.style.background = "tomato";
        msgbox.style.height = "150";
        javascript:window.scrollTo(0,0);
        msgbox.style.display = 'inline';

    }

    function createEncounter(chosenPlan)
    {
        var dataHash = {"encounter": { "provider_id" : <%= User.current.user_id %>,
            "encounter_type_name" : "HYPERTENSION MANAGEMENT","patient_id" :<%= @patient.patient_id %> ,
            "encounter_datetime": '<%= DateTime.now() %>'} ,
            "observations" : [{"patient_id":"24", "concept_name":"PLAN", "value_text":chosenPlan,
            "obs_datetime":'<%= DateTime.now() %>', "value_coded_or_text":""}], "return" : true}

        jQuery.ajax({
            type: "POST",
            url: "/htn_encounter/create",
            dataType: 'json',
            contentType: 'application/json',
            data : JSON.stringify(dataHash),
            success: function(){
                    window.location =  "/patients/show/<%= @patient.patient_id %>"
            },
            error: function(){
                showMessage("Could not create record", "Unsuccessful")
            }

        });
        /*
        myForm = document.createElement("form");
        myForm.action = "/htn_encounter/create"

        encounter = document.createElement("input")
        encounter.name = "encounter[encounter_type_name]"
        encounter.value = "HYPERTENSION MANAGEMENT"
        myForm.appendChild(encounter);

        patient = document.createElement("input")
        patient.name = "encounter[patient_id]"
        patient.value = <%= @patient.id %>
        myForm.appendChild(patient)

        provider = document.createElement("input")
        provider.name = "encounter[provider_id]"
        provider.value = <%= User.current.user_id %>
        myForm.appendChild(provider)

        concept = document.createElement("input");
        concept.name = "encounter[observation][concept_name]";
        concept.value = "Plan";

        patient_id = document.createElement("input");
        patient_id.name = "encounter[observation][patient_id]";
        patient_id.value = <%= @patient.id %>;
        myForm.appendChild(patient_id)

        text = document.createElement("input");
        text.name = "encounter[observation][value_text]";
        text.value = chosenPlan;
        myForm.appendChild(text)

        obs_date = document.createElement("input");
        obs_date.name = "encounter[observation][obs_datetime]";
        obs_date.value =' <%= DateTime.now() %>';
        myForm.appendChild(obs_date)

        document.body.appendChild(myForm);
        myForm.submit()*/
    }
  //-->
</script>
<div class="table" style="width: 100%;">
  <div class="row"  style="">
    <div class="cell">
      <div style="width: 96vw;margin-bottom: 5px;margin-top: 5px; padding: 10px;font-size: 130%; font-weight: bold;">
        BP Management Screen
      </div>
      <div style="border:1px solid #000000; width: 96vw;margin-bottom: 5px;margin-top: 2px; margin-left: auto;margin-right: auto;padding: 10px;">
        <div><span style="font-weight: bold; font-size: 110%;">BP Trail</span></div>
        <div style="height: 40vh;overflow: auto;">
          <table style="width: 100%; margin-left: auto;margin-right: auto;">
            <thead>
            <tr>
              <th>Date</th>
              <th>Systolic</th>
              <th>Diastolic</th>
              <th>BP Drugs</th>
              <th>Plan</th>
            </tr>
            </thead>
            <tbody>
            <% (@bp_trail || []).each do  |record|  %>
                <tr>
                  <td style="text-align: center"><%= record['date'] %></td>
                  <td style="text-align: center"><%= record['systolic'] %></td>
                  <td style="text-align: center"><%= record['diastolic'] %></td>
                  <td style="text-align: center"><%= record['drugs'] %></td>
                  <td style="padding-left: 10px;"><%= record['plan'] %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row" >
    <div class="cell" >
      <div style="border:1px solid #000000; width: 97vw;margin-bottom: 5px;margin-top: 5px; margin-left: auto;margin-right: auto;height: 25vh;overflow:auto;">
        <div class="heading">
          Select Action
        </div>

          <div class="table" style="width: 100%;">
            <div class="row">
              <div class="cell"><div id = "1" class="option" selected=false onclick="selected(this)">
                <div style="display: table-cell; vertical-align: middle; "><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
                <div style="display: table-cell; vertical-align: middle;padding-left: 5px; ">Lifestyle Advice given</div>
              </div>
              </div>
              <div class="cell"><div class="option" selected=false onclick="selected(this)">
                <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
                <div style="display: table-cell; vertical-align: middle;padding-left: 5px; ">Not yet stable on ART</div>
              </div>
              </div>
              <div class="cell"><div class="option" selected=false onclick="selected(this)">
                <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
                <div style="display: table-cell; vertical-align: middle;padding-left: 5px;">Patient Declining BP drugs</div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="cell"><div class="option" selected=false onclick="selected(this)">
                <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
                <div style="display: table-cell; vertical-align: middle;padding-left: 5px;">Did not take prescribed BP drugs today</div>
              </div>
              </div>
              <div class="cell"><div class="option" selected=false onclick="selected(this)">
                <div style="display: table-cell; vertical-align: middle;"><img src="/touchscreentoolkit/lib/images/unchecked.png"></div>
                <div style="display: table-cell; vertical-align: middle;padding-left: 5px;">Pregnant</div>
              </div>
              </div>
            </div>
          </div>

      </div>
     </div>
  </div>
</div>

<div id="buttons" class="buttonsDiv">
  <button id="nextButton" class="button green navButton" onmousedown="nextPage()"><span>Finish</span></button>
  <button id="nextButton" class="button blue navButton" onmousedown="window.location='/htn_encounter/bp_drug_management?patient_id=<%= @patient.id%>'"><span>Review BP Drugs</span></button>
</div>
<div id="cover" >

</div>

<div id="popup_box" >

</div>
