<link rel="stylesheet" type="text/css" href="/stylesheets/prescription/application.css" media="screen" />

<div class="report_header">
     <%= " Demographic and Clinical Report for #{Date::MONTHNAMES[params[:month].to_i]} #{params[:year]} "%>
</div>

<div id="report_content" class="report_content">
    <table class="report_table" >
       <thead>
        <tr>
          <td style="padding-left: 10px;">Field</td>
          <td style="width: 20%;text-align: center;">Monthly</td>
          <td style="width: 20%;text-align: center;">Cumulative</td>
        </tr>
       </thead>
       <tbody>
       <tr>
         <td class="sectionHeading">Total Number Screened for Hypertension</td>
         <td><div id="screenedMonthly" onclick="drillDown(this.getAttribute('ids'))"   class="clickable">0</div></td>
         <td><div id="screenedCumulative" class="clickable">0</div></td>
       </tr>
        <tr>
          <td class="sectionHeading" colspan="3">Sex</td>
        </tr>
        <tr>
          <td class="fieldTitle">Female</td>
          <td><div id="monthlyFemales" class="clickable" ids="">0</div></td>
          <td><div id="cumulativeFemales" class="clickable">0</div></td>
        </tr>
        <tr>
          <td class="fieldTitle">Male</td>
          <td><div id="monthlyMales" class="clickable">0</div></td>
          <td><div id="cumulativeMales" class="clickable">0</div></td>
        </tr>
        <tr>
          <td class="fieldTitle">Unknown/Missing</td>
          <td><div id="monthlyMissing" class="clickable">0</div></td>
          <td><div id="cumulativeMissing" class="clickable">0</div></td>
        </tr>
       <tr>
         <td class="sectionHeading">Age (years), Median </td>
         <td><div id="monthlyAgeMedian" class="clickable">0</div></td>
         <td><div id="cumulativeAgeMedian" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="sectionHeading" colspan="3">Age Group </td>
       </tr>
       <tr>
         <td class="fieldTitle">20 - 29</td>
         <td><div id="monthly20to29" class="clickable">0</div></td>
         <td><div id="cumulative20to29" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">30 - 39</td>
         <td><div id="monthly30to39" class="clickable">0</div></td>
         <td><div id="cumulative30to39" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">40 - 49</td>
         <td><div id="monthly40to49" class="clickable">0</div></td>
         <td><div id="cumulative40to49" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">50 - 59</td>
         <td><div id="monthly50to59" class="clickable">0</div></td>
         <td><div id="cumulative50to59" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle"> >= 60 </td>
         <td><div id="monthlyAbove59" class="clickable">0</div></td>
         <td><div id="cumulativeAbove59" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Unknown/Missing</td>
         <td><div id="monthlyUnkAge" class="clickable">0</div></td>
         <td><div id="culUnkAge" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="sectionHeading"> Body Mass Index (BMI) Median</td>
         <td><div id="monthlyBmiMedian" class="clickable">0</div></td>
         <td><div id="culBmiMedian" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="3" class="sectionHeading"> BMI</td>
       </tr>
       <tr>
         <td class="fieldTitle">< 18.5 - 24.9</td>
         <td><div id="monthlyBmi1" class="clickable">0</div></td>
         <td><div id="culBmi1" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">25 - 29.9</td>
         <td><div id="monthlyBmi2" class="clickable">0</div></td>
         <td><div id="culBmi2" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle"> >= 30</td>
         <td><div id="monthlyBmi3" class="clickable">0</div></td>
         <td><div id="culBmi3" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Unknown/Missing</td>
         <td><div id="monthlyBmiUnk" class="clickable">0</div></td>
         <td><div id="culBmiUnk" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="3" class="sectionHeading">Blood Pressure Classification</td>
       </tr>
       <tr>
         <td class="fieldTitle">Normal</td>
         <td><div id="monthlyBpNormal" class="clickable">0</div></td>
         <td><div id="culBpNormal" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Mild</td>
         <td><div id="monthlyBpMild" class="clickable">0</div></td>
         <td><div id="culBpMild" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Moderate</td>
         <td><div id="monthlyBpMod" class="clickable">0</div></td>
         <td><div id="culBpMod" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Severe</td>
         <td><div id="monthlyBpSevere" class="clickable">0</div></td>
         <td><div id="culBpSevere" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="3" class="sectionHeading">Diagnosis of Hypertension</td>
       </tr>
       <tr>
         <td class="fieldTitle">Newly Diagnosed Hypertension</td>
         <td><div id="monthlyNewDiag" class="clickable">0</div></td>
         <td><div id="culNewDiag" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Existing Hypertension</td>
         <td><div id="monthlyExisting" class="clickable">0</div></td>
         <td><div id="culExisting" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="3" class="sectionHeading">Place of Diagnosis</td>
       </tr>
       <tr>
         <td class="fieldTitle">Lighthouse</td>
         <td><div id="monthlyPodLighthouse" class="clickable">0</div></td>
         <td><div id="culPodLighthouse" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Ministry of Health</td>
         <td><div id="monthlyPodMoh" class="clickable">0</div></td>
         <td><div id="culPodMoh" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Other</td>
         <td><div id="monthlyPodOther" class="clickable">0</div></td>
         <td><div id="culPodOther" class="clickable">0</div></td>
       </tr>
       <tr>
         <td class="fieldTitle">Unknown/Missing</td>
         <td><div id="monthlyPodUnk" class="clickable">0</div></td>
         <td><div id="culPodUnk" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="3" class="sectionHeading">Outcome Occurred</td>
       </tr>
       <tr>
         <td colspan="2" class="fieldTitle">Alive and in care</td>
         <td><div id="alive" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="2" class="fieldTitle">Death</td>
         <td><div id="dead" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="2" class="fieldTitle">Lost to followup</td>
         <td><div id="lostToFollowup" class="clickable">0</div></td>
       </tr>
       <tr>
         <td colspan="2" class="fieldTitle">Transferred</td>
         <td><div id="transferred" class="clickable">0</div></td>
       </tr>
       </tbody>
    </table>
</div>
<div id="footer">
  <div id="buttons" class="buttonsDiv" style="">
    <button id="finishButton" class="button navButton green" onclick="window.location='/'"><span>Finish</span></button>
  </div>
</div>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript">
    <!--
    var fields = [["screenedMonthly","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["screenedCumulative","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyFemales","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulativeFemales","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyMales","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulativeMales","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyMissing","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["cumulativeMissing","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyAgeMedian","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["cumulativeAgeMedian","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthly20to29","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulative20to29","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthly30to39","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulative30to39","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthly40to49","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulative40to49","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthly50to59","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulative50to59","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyAbove59","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["cumulativeAbove59","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyUnkAge","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culUnkAge","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyBmiMedian","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culBmiMedian","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyBmi1","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culBmi1","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyBmi2","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["culBmi2","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyBmi3","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["culBmi3","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyBmiUnk","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culBmiUnk","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyBpNormal","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culBpNormal","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyBpMild","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culBpMild","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyBpMod","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["culBpMod","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyBpSevere","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["culBpSevere","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyNewDiag","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culNewDiag","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyExisting","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culExisting","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["monthlyPodLighthouse","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culPodLighthouse","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyPodMoh","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["culPodMoh","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyPodOther","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["culPodOther","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["monthlyPodUnk","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["culPodUnk","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["alive","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["dead","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],
        ["lostToFollowup","/report/total_screened?start_date='1900/01/01' &end_date=<%= @end_date %>", ""],
        ["transferred","/report/total_screened?start_date=<%= @start_date %> &end_date=<%= @end_date %>", ""],

    ];


    loadFields();
    //-->
</script>
